* {
  padding: 0;
  margin: 0;
  list-style-type: none;
  line-height: 1rem;
}

body {
  font-family: sans-serif;
  font-size: 18px;
  background-color: #eee;
}

#page {
  width: 900px;
  margin: 0 auto;
  min-height: 100%;
  background-color: #fff;
}

nav {
  background-color: #777;
  padding: 1rem;
  color: #fff;
}

footer {
  font-size: 0.9rem;
  text-align: center;
  color: #777;
  padding: 1rem;
}

#xeet-list li {
  padding-bottom: 1rem;
}

